In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF_RIGHT_FORMAT/df_for_analysis_yandex_gpt_final.csv')
df_gpd_2024 = pd.read_csv('/Users/rusya/Documents/synthetic_data/inf_for_logit_regression/GDP_per_Capita_2024.csv')
df_ict_2024 = pd.read_csv('/Users/rusya/Documents/synthetic_data/inf_for_logit_regression/ict_development_index_2024.csv')
df_research_ap_gpd = pd.read_csv('/Users/rusya/Documents/synthetic_data/inf_for_logit_regression/research_spending_latest_by_country.csv')
df_gpd_wvs_year = pd.read_csv('/Users/rusya/Documents/synthetic_data/inf_for_logit_regression/gdp_per_capita_by_country.csv')

/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/2213407041.py:1: DtypeWarning: Columns (276,278,336,337,338,339,340) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF_RIGHT_FORMAT/df_for_analysis_yandex_gpt_final.csv')

In [4]:
df_gpd_2024

          Country  GDP_per_capita_2024
0         Andorra              46359.0
1       Argentina              13415.0
2         Armenia               8613.0
3      Bangladash               2622.0
4         Bolivia               3939.0
..            ...                  ...
60  United States              85812.0
61     Uzbekistan               3113.0
62      Venezuela               4511.0
63        Vietnam               4324.0
64       Zimbabwe               2073.0

[65 rows x 2 columns]

In [5]:
df_ict_2024

          country code  year  ICT Development Index 2024
0         Andorra  AND  2018                        88.8
1       Argentina  ARG  2017                        83.4
2         Armenia  ARM  2021                        86.4
3      Bangladash  BGD  2018                        62.0
4         Bolivia  BOL  2017                        69.4
..            ...  ...   ...                         ...
60  United States  USA  2017                        96.7
61     Uzbekistan  UZB  2022                        84.9
62      Venezuela  VEN  2021                        63.4
63        Vietnam  VNM  2020                        85.0
64       Zimbabwe  ZWE  2020                        47.7

[65 rows x 4 columns]

In [6]:
df_research_ap_gpd

       Country    Year  R&D (% of GDP)
0      Andorra  2019.0             NaN
1    Argentina  2021.0         0.51764
2      Armenia  2022.0         0.20966
3   Bangladash  2023.0         0.58000
4      Bolivia  2009.0         0.15700
..         ...     ...             ...
60     Uruguay  2021.0         0.42035
61  Uzbekistan  2022.0         0.16022
62   Venezuela  2016.0         0.69000
63     Vietnam  2021.0         0.42533
64    Zimbabwe  2012.0         0.21000

[65 rows x 3 columns]

In [7]:
df_ingl = pd.read_csv('/Users/rusya/Documents/synthetic_data/inf_for_logit_regression/inglh_cultural_values_decimal_filtered.csv')

In [8]:
df_ingl

,S025 Country - year,TradAgg,SurvSAgg,Unnamed: 3,S025 Country - year.1,Y010 SACSECVAL.- Welzel Overall Secular Values,Y020 RESEMAVAL.- Welzel emancipative values,year,country
0,202018 Andorra (2018),0.5486,2.1823,NaN,202018 Andorra (2018),",41170825",",62607546",2018,Andorra
1,322017 Argentina (2017),-0.4009,0.1913,NaN,322017 Argentina (2017),",42067248",",46712260",2017,Argentina
2,512018 Armenia (2018),-0.2727,-0.9003,NaN,512008 Armenia (2008),",35008566",",36271251",2018,Armenia
3,512021 Armenia (2021),-1.3110,-0.7100,NaN,512011 Armenia (2011),",30066417",",28787756",2021,Armenia
4,682017 Bolivia (2017),-1.2266,-0.3828,NaN,561999 Belgium (1999),",49084127",",47638831",2017,Bolivia
...,...,...,...,...,...,...,...,...,...
60,8262022 Great Britain (2022),0.9808,2.2364,NaN,7522011 Sweden (2011),",49600441",",71818974",2022,Great Britain
61,8402017 United States (2017),0.1444,1.4034,NaN,7622020 Tajikistan (2020),",39536349",",31104770",2017,United States
62,8582022 Uruguay (2022),-0.3293,1.3611,NaN,7802010 Trinidad and Tobago (2010),",27588271",",39418228",2022,Uruguay
63,8622021 Venezuela (2021),-1.0603,-0.2503,NaN,7921996 Turkey (1996),",22397293",",33644731",2021,Venezuela
64,9092022 Northern Ireland (2022),0.1189,1.6764,NaN,8041996 Ukraine (1996),",48596939",",35871241",2022,Northern Ireland

In [9]:
df_gpd_wvs_year

   code        country  year  ВВП на душу населения (того же года)
0   AND        Andorra  2018                          42819.774580
1   ARG      Argentina  2017                          14532.500931
2   ARM        Armenia  2021                           4685.179971
3   BGD     Bangladash  2018                           1965.243727
4   BOL        Bolivia  2017                           3306.303012
..  ...            ...   ...                                   ...
60  USA  United States  2017                          60322.261424
61  UZB     Uzbekistan  2022                           2578.666894
62  VEN      Venezuela  2021                                   NaN
63  VNM        Vietnam  2020                           3534.039535
64  ZWE       Zimbabwe  2020                           1730.413489

[65 rows x 4 columns]

In [10]:
df

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,index,Unnamed: 0.1,Unnamed: 0,version,doi,A_WAVE,A_YEAR,...,Q186_gpt,Q187_gpt,Q188_gpt,Q189_gpt,Q190_gpt,Q191_gpt,Q192_gpt,Q193_gpt,Q194_gpt,Q195_gpt
0,0,0,0,0,0,0,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,7.0,4.0,5.0,1.0,2.0,1.0,1.0,5.0,2.0,4.0
1,1,1,1,1,1,1,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,5.0,6.0,1.0,1.0,1.0,1.0,6.0,2.0,4.0
2,2,2,2,2,2,2,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,7.0,4.0,6.0,1.0,1.0,1.0,1.0,6.0,1.0,5.0
3,3,3,3,3,3,3,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,3.0,6.0,1.0,3.0,2.0,1.0,6.0,2.0,4.0
4,4,4,4,4,4,4,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,4.0,5.0,1.0,2.0,1.0,1.0,6.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,95402,95402,95402,97215,97215,97215,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,3.0,1.0,2.0,1.0,3.0,2.0,1.0,4.0,2.0,5.0
95403,95403,95403,95403,97216,97216,97216,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,4.0,5.0,1.0,3.0,2.0,1.0,5.0,2.0,7.0
95404,95404,95404,95404,97217,97217,97217,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
95405,95405,95405,95405,97218,97218,97218,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,3.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
95406,95406,95406,95406,97219,97219,97219,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,3.0,1.0,3.0,2.0,1.0,5.0,3.0,4.0

In [11]:
df.rename(columns={'country': "code"}, inplace=True)

In [12]:
df.loc[95400, 'code']

'ZWE'

In [13]:
# Словарь соответствия кодов и названий стран
country_map = {
    "AND": "Andorra",
    "ARG": "Argentina",
    "ARM": "Armenia",
    "BGD": "Bangladash",
    "BOL": "Bolivia",
    "BRA": "Brazil",
    "CAN": "Canada",
    "CHL": "Chile",
    "CHN": "China",
    "COL": "Colombia",
    "CYP": "Cyprus",
    "CZE": "Czechia",
    "DEU": "Germany",
    "ECU": "Ecuador",
    "EGY": "Egypt",
    "ETH": "Ethiopia",
    "GBR": "Great Britain",
    "GRC": "Greece",
    "GTM": "Guatemala",
    "HKG": "Hong Kong",
    "IDN": "Indonesia",
    "IND": "India",
    "IRN": "Iran",
    "IRQ": "Iraq",
    "JOR": "Jordan",
    "JPN": "Japan",
    "KAZ": "Kazakhstan",
    "KEN": "Kenya",
    "KGZ": "Kyrgyzstan",
    "KOR": "South Korea",
    "LBN": "Lebanon",
    "LBY": "Libya",
    "MAC": "Macao",
    "MDV": "Maldives",
    "MEX": "Mexico",
    "MMR": "Myanmar",
    "MNG": "Mongolia",
    "MOR": "Morocco",
    "MYS": "Malaysia",
    "NGA": "Nigeria",
    "NIC": "Nicaragua",
    "NIR": "Northern Ireland",
    "NLD": "Netherlands",
    "NZL": "New Zealand",
    "PAK": "Pakistan",
    "PER": "Peru",
    "PHL": "Philippines",
    "PRI": "Puerto Rico",
    "ROU": "Romania",
    "RUS": "Russian Federation",
    "SGP": "Singapore",
    "SRB": "Serbia",
    "SVK": "Slovakia",
    "THA": "Thailand",
    "TJK": "Tajikistan",
    "TUN": "Tunisia",
    "TUR": "Turkey",
    "TWN": "Taiwan",
    "UKR": "Ukraine",
    "URY": "Uruguay",
    "USA": "United States",
    "UZB": "Uzbekistan",
    "VEN": "Venezuela",
    "VNM": "Vietnam",
    "ZWE": "Zimbabwe"
}

# Добавим новый столбец в DataFrame df
df['country'] = df['code'].map(country_map)

In [14]:
columns_to_keep = [
    "A_YEAR", "code", "country", 'X003R2',
    'Q260', 'Q272', 'Q275', 'Q288R', 'Q287', 'Q273', 'Q274', 'Q289',
    "Q158", "Q159", "Q160", "Q161", "Q162",
    "Q177", "Q178", "Q179", "Q180", "Q181", "Q182", "Q183", "Q184", "Q185",
    "Q186", "Q187", "Q188", "Q189", "Q190", "Q191", "Q192", "Q193", "Q194", "Q195",
    'Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex', 
    'Q162_yandex', 'Q183_yandex', 'Q184_yandex', 'Q185_yandex', 
    'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex', 
    'Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex', 
    'Q194_yandex', 'Q195_yandex',
]

# Оставим только нужные столбцы
df1 = df[columns_to_keep]
df1

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q186_yandex,Q187_yandex,Q188_yandex,Q189_yandex,Q190_yandex,Q191_yandex,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex
0,2018,AND,Andorra,3,2,1270,3,2,3,1,...,4.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0
1,2018,AND,Andorra,2,1,1270,7,3,2,2,...,8.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0
2,2018,AND,Andorra,2,1,810,7,2,3,4,...,6.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0
3,2018,AND,Andorra,3,2,1270,2,2,4,2,...,7.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0
4,2018,AND,Andorra,2,1,1270,2,2,4,2,...,7.0,1.0,3.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,1,2,3,1,...,3.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0
95403,2020,ZWE,Zimbabwe,2,1,3200,6,2,2,1,...,5.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0
95404,2020,ZWE,Zimbabwe,1,2,3830,2,2,4,1,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0
95405,2020,ZWE,Zimbabwe,2,2,3830,2,1,4,1,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0
95406,2020,ZWE,Zimbabwe,2,1,3830,2,1,4,1,...,3.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,4.0

In [15]:
df_3 = df1.merge(df_gpd_2024, how='left', left_on='country', right_on='Country')

# Удалим дублирующий столбец, если он больше не нужен
df_3.drop(columns=['Country'], inplace=True)
df_3

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q187_yandex,Q188_yandex,Q189_yandex,Q190_yandex,Q191_yandex,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,GDP_per_capita_2024
0,2018,AND,Andorra,3,2,1270,3,2,3,1,...,1.0,2.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0,46359.0
1,2018,AND,Andorra,2,1,1270,7,3,2,2,...,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,46359.0
2,2018,AND,Andorra,2,1,810,7,2,3,4,...,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,46359.0
3,2018,AND,Andorra,3,2,1270,2,2,4,2,...,1.0,2.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0,46359.0
4,2018,AND,Andorra,2,1,1270,2,2,4,2,...,1.0,3.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0,46359.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,1,2,3,1,...,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,2073.0
95403,2020,ZWE,Zimbabwe,2,1,3200,6,2,2,1,...,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0,2073.0
95404,2020,ZWE,Zimbabwe,1,2,3830,2,2,4,1,...,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0,2073.0
95405,2020,ZWE,Zimbabwe,2,2,3830,2,1,4,1,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0,2073.0
95406,2020,ZWE,Zimbabwe,2,1,3830,2,1,4,1,...,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,4.0,2073.0

In [16]:
df_fin = df_3.merge(
    df_gpd_wvs_year[['country', 'ВВП на душу населения (того же года)']],
    on='country',
    how='left'
)

df_fin.rename(columns={'ВВП на душу населения (того же года)': "GDP_wvs_year"}, inplace=True)
df_fin

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q188_yandex,Q189_yandex,Q190_yandex,Q191_yandex,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,GDP_per_capita_2024,GDP_wvs_year
0,2018,AND,Andorra,3,2,1270,3,2,3,1,...,2.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580
1,2018,AND,Andorra,2,1,1270,7,3,2,2,...,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,46359.0,42819.774580
2,2018,AND,Andorra,2,1,810,7,2,3,4,...,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,46359.0,42819.774580
3,2018,AND,Andorra,3,2,1270,2,2,4,2,...,2.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580
4,2018,AND,Andorra,2,1,1270,2,2,4,2,...,3.0,1.0,1.0,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,1,2,3,1,...,2.0,1.0,1.0,1.0,1.0,3.0,1.0,2.0,2073.0,1730.413489
95403,2020,ZWE,Zimbabwe,2,1,3200,6,2,2,1,...,2.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0,2073.0,1730.413489
95404,2020,ZWE,Zimbabwe,1,2,3830,2,2,4,1,...,1.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0,2073.0,1730.413489
95405,2020,ZWE,Zimbabwe,2,2,3830,2,1,4,1,...,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0,2073.0,1730.413489
95406,2020,ZWE,Zimbabwe,2,1,3830,2,1,4,1,...,2.0,1.0,1.0,1.0,1.0,3.0,1.0,4.0,2073.0,1730.413489

In [17]:
df_unique = df_ingl.drop_duplicates(subset='country')

In [18]:
df_fin = df_fin.merge(
    df_unique[['country', 'TradAgg', 'SurvSAgg']],
    on='country',
    how='left'
)

df_fin

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q190_yandex,Q191_yandex,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,GDP_per_capita_2024,GDP_wvs_year,TradAgg,SurvSAgg
0,2018,AND,Andorra,3,2,1270,3,2,3,1,...,1.0,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823
1,2018,AND,Andorra,2,1,1270,7,3,2,2,...,1.0,1.0,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823
2,2018,AND,Andorra,2,1,810,7,2,3,4,...,1.0,1.0,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823
3,2018,AND,Andorra,3,2,1270,2,2,4,2,...,1.0,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823
4,2018,AND,Andorra,2,1,1270,2,2,4,2,...,1.0,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,1,2,3,1,...,1.0,1.0,1.0,3.0,1.0,2.0,2073.0,1730.413489,-0.5850,-1.8709
95403,2020,ZWE,Zimbabwe,2,1,3200,6,2,2,1,...,1.0,1.0,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709
95404,2020,ZWE,Zimbabwe,1,2,3830,2,2,4,1,...,1.0,1.0,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709
95405,2020,ZWE,Zimbabwe,2,2,3830,2,1,4,1,...,1.0,1.0,1.0,2.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709
95406,2020,ZWE,Zimbabwe,2,1,3830,2,1,4,1,...,1.0,1.0,1.0,3.0,1.0,4.0,2073.0,1730.413489,-0.5850,-1.8709

In [19]:
df_ingl

,S025 Country - year,TradAgg,SurvSAgg,Unnamed: 3,S025 Country - year.1,Y010 SACSECVAL.- Welzel Overall Secular Values,Y020 RESEMAVAL.- Welzel emancipative values,year,country
0,202018 Andorra (2018),0.5486,2.1823,NaN,202018 Andorra (2018),",41170825",",62607546",2018,Andorra
1,322017 Argentina (2017),-0.4009,0.1913,NaN,322017 Argentina (2017),",42067248",",46712260",2017,Argentina
2,512018 Armenia (2018),-0.2727,-0.9003,NaN,512008 Armenia (2008),",35008566",",36271251",2018,Armenia
3,512021 Armenia (2021),-1.3110,-0.7100,NaN,512011 Armenia (2011),",30066417",",28787756",2021,Armenia
4,682017 Bolivia (2017),-1.2266,-0.3828,NaN,561999 Belgium (1999),",49084127",",47638831",2017,Bolivia
...,...,...,...,...,...,...,...,...,...
60,8262022 Great Britain (2022),0.9808,2.2364,NaN,7522011 Sweden (2011),",49600441",",71818974",2022,Great Britain
61,8402017 United States (2017),0.1444,1.4034,NaN,7622020 Tajikistan (2020),",39536349",",31104770",2017,United States
62,8582022 Uruguay (2022),-0.3293,1.3611,NaN,7802010 Trinidad and Tobago (2010),",27588271",",39418228",2022,Uruguay
63,8622021 Venezuela (2021),-1.0603,-0.2503,NaN,7921996 Turkey (1996),",22397293",",33644731",2021,Venezuela
64,9092022 Northern Ireland (2022),0.1189,1.6764,NaN,8041996 Ukraine (1996),",48596939",",35871241",2022,Northern Ireland

In [20]:
df_unique = df.drop_duplicates(subset='country')

In [21]:
df_research_ap_gpd.rename(columns={'R&D (% of GDP)': "rd_idx_gpd"}, inplace=True)
df_research_ap_gpd

       Country    Year  rd_idx_gpd
0      Andorra  2019.0         NaN
1    Argentina  2021.0     0.51764
2      Armenia  2022.0     0.20966
3   Bangladash  2023.0     0.58000
4      Bolivia  2009.0     0.15700
..         ...     ...         ...
60     Uruguay  2021.0     0.42035
61  Uzbekistan  2022.0     0.16022
62   Venezuela  2016.0     0.69000
63     Vietnam  2021.0     0.42533
64    Zimbabwe  2012.0     0.21000

[65 rows x 3 columns]

In [22]:
df_research_ap_gpd.rename(columns={'Country': "country"}, inplace=True)
df_research_ap_gpd

       country    Year  rd_idx_gpd
0      Andorra  2019.0         NaN
1    Argentina  2021.0     0.51764
2      Armenia  2022.0     0.20966
3   Bangladash  2023.0     0.58000
4      Bolivia  2009.0     0.15700
..         ...     ...         ...
60     Uruguay  2021.0     0.42035
61  Uzbekistan  2022.0     0.16022
62   Venezuela  2016.0     0.69000
63     Vietnam  2021.0     0.42533
64    Zimbabwe  2012.0     0.21000

[65 rows x 3 columns]

In [23]:
df_fin = df_fin.merge(
    df_research_ap_gpd[['country', 'rd_idx_gpd']],
    on='country',
    how='left'
)

df_fin

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q191_yandex,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,GDP_per_capita_2024,GDP_wvs_year,TradAgg,SurvSAgg,rd_idx_gpd
0,2018,AND,Andorra,3,2,1270,3,2,3,1,...,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN
1,2018,AND,Andorra,2,1,1270,7,3,2,2,...,1.0,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN
2,2018,AND,Andorra,2,1,810,7,2,3,4,...,1.0,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN
3,2018,AND,Andorra,3,2,1270,2,2,4,2,...,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN
4,2018,AND,Andorra,2,1,1270,2,2,4,2,...,1.0,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,1,2,3,1,...,1.0,1.0,3.0,1.0,2.0,2073.0,1730.413489,-0.5850,-1.8709,0.21
95403,2020,ZWE,Zimbabwe,2,1,3200,6,2,2,1,...,1.0,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21
95404,2020,ZWE,Zimbabwe,1,2,3830,2,2,4,1,...,1.0,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21
95405,2020,ZWE,Zimbabwe,2,2,3830,2,1,4,1,...,1.0,1.0,2.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21
95406,2020,ZWE,Zimbabwe,2,1,3830,2,1,4,1,...,1.0,1.0,3.0,1.0,4.0,2073.0,1730.413489,-0.5850,-1.8709,0.21

In [24]:
df_ict_2024.rename(columns={'ICT Development Index 2024': "ict_idx_2024"}, inplace=True)

In [25]:
df_fin = df_fin.merge(
    df_ict_2024[['country', 'ict_idx_2024']],
    on='country',
    how='left'
)

df_fin

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,GDP_per_capita_2024,GDP_wvs_year,TradAgg,SurvSAgg,rd_idx_gpd,ict_idx_2024
0,2018,AND,Andorra,3,2,1270,3,2,3,1,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
1,2018,AND,Andorra,2,1,1270,7,3,2,2,...,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
2,2018,AND,Andorra,2,1,810,7,2,3,4,...,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
3,2018,AND,Andorra,3,2,1270,2,2,4,2,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
4,2018,AND,Andorra,2,1,1270,2,2,4,2,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,1,2,3,1,...,1.0,3.0,1.0,2.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95403,2020,ZWE,Zimbabwe,2,1,3200,6,2,2,1,...,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95404,2020,ZWE,Zimbabwe,1,2,3830,2,2,4,1,...,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95405,2020,ZWE,Zimbabwe,2,2,3830,2,1,4,1,...,1.0,2.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95406,2020,ZWE,Zimbabwe,2,1,3830,2,1,4,1,...,1.0,3.0,1.0,4.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7

In [28]:
# Проверим распределение после перекодировки
print(df_fin['Q274'].value_counts().sort_index())

Q274
-5     1134
-4     3056
-2      439
-1      186
 0    26542
 1    15908
 2    23950
 3    24192
Name: count, dtype: int64

In [27]:
df_fin['Q274'] = df_fin['Q274'].clip(upper=3)

In [29]:
df_fin

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,GDP_per_capita_2024,GDP_wvs_year,TradAgg,SurvSAgg,rd_idx_gpd,ict_idx_2024
0,2018,AND,Andorra,3,2,1270,3,2,3,1,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
1,2018,AND,Andorra,2,1,1270,7,3,2,2,...,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
2,2018,AND,Andorra,2,1,810,7,2,3,4,...,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
3,2018,AND,Andorra,3,2,1270,2,2,4,2,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
4,2018,AND,Andorra,2,1,1270,2,2,4,2,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,1,2,3,1,...,1.0,3.0,1.0,2.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95403,2020,ZWE,Zimbabwe,2,1,3200,6,2,2,1,...,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95404,2020,ZWE,Zimbabwe,1,2,3830,2,2,4,1,...,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95405,2020,ZWE,Zimbabwe,2,2,3830,2,1,4,1,...,1.0,2.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95406,2020,ZWE,Zimbabwe,2,1,3830,2,1,4,1,...,1.0,3.0,1.0,4.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7

In [30]:
df_clean = df_fin[
    df_fin["X003R2"].isin([1, 2, 3]) &                   # AGE: 1..3
    df_fin["Q260"].isin([1, 2]) &                     # GENDER: 1 или 2
    df_fin["Q275"].isin(range(0, 9)) &                # EDUCATION: 0..8
    df_fin["Q288R"].isin([1, 2, 3]) &                 # INCOME: 1..3
    df_fin["Q287"].isin([1, 2, 3, 4, 5]) &            # SOCIAL CLASS: 1..5
    df_fin["Q273"].isin([1, 2, 3, 4, 5, 6]) &         # MARITAL STATUS: 1..6
    df_fin["Q274"].isin(range(0, 4)) &                # HOW MANY CHILDREN: 0..3
    df_fin["Q289"].isin(range(0, 10))                 # RELIGIOUS: 0..9
].copy()

print(df_clean)

       A_YEAR code   country  X003R2  Q260  Q272  Q275  Q288R  Q287  Q273  \
0        2018  AND   Andorra       3     2  1270     3      2     3     1
1        2018  AND   Andorra       2     1  1270     7      3     2     2
2        2018  AND   Andorra       2     1   810     7      2     3     4
3        2018  AND   Andorra       3     2  1270     2      2     4     2
4        2018  AND   Andorra       2     1  1270     2      2     4     2
...       ...  ...       ...     ...   ...   ...   ...    ...   ...   ...
95402    2020  ZWE  Zimbabwe       2     2  3830     1      2     3     1
95403    2020  ZWE  Zimbabwe       2     1  3200     6      2     2     1
95404    2020  ZWE  Zimbabwe       1     2  3830     2      2     4     1
95405    2020  ZWE  Zimbabwe       2     2  3830     2      1     4     1
95406    2020  ZWE  Zimbabwe       2     1  3830     2      1     4     1

       ...  Q192_yandex  Q193_yandex  Q194_yandex  Q195_yandex  \
0      ...          1.0          4.0          1.0          3.0
1      ...          1.0          3.0          1.0          2.0
2      ...          1.0          3.0          1.0          2.0
3      ...          1.0          4.0          1.0          3.0
4      ...          1.0          4.0          1.0          3.0
...    ...          ...          ...          ...          ...
95402  ...          1.0          3.0          1.0          2.0
95403  ...          1.0          3.0          1.0          3.0
95404  ...          1.0          3.0          1.0          3.0
95405  ...          1.0          2.0          1.0          3.0
95406  ...          1.0          3.0          1.0          4.0

       GDP_per_capita_2024  GDP_wvs_year  TradAgg  SurvSAgg  rd_idx_gpd  \
0                  46359.0  42819.774580   0.5486    2.1823         NaN
1                  46359.0  42819.774580   0.5486    2.1823         NaN
2                  46359.0  42819.774580   0.5486    2.1823         NaN
3                  46359.0  42819.774580   0.5486    2.1823         NaN
4                  46359.0  42819.774580   0.5486    2.1823         NaN
...                    ...           ...      ...       ...         ...
95402               2073.0   1730.413489  -0.5850   -1.8709        0.21
95403               2073.0   1730.413489  -0.5850   -1.8709        0.21
95404               2073.0   1730.413489  -0.5850   -1.8709        0.21
95405               2073.0   1730.413489  -0.5850   -1.8709        0.21
95406               2073.0   1730.413489  -0.5850   -1.8709        0.21

       ict_idx_2024
0              88.8
1              88.8
2              88.8
3              88.8
4              88.8
...             ...
95402          47.7
95403          47.7
95404          47.7
95405          47.7
95406          47.7

[85308 rows x 60 columns]

In [31]:
def recode_education(val):
    if val in [0, 1]:
        return 0
    elif val in [2, 3]:
        return 1
    elif val in [4, 5]:
        return 2
    elif val in [6, 7, 8]:
        return 3
    else:
        return None 
    
df_clean['Q275'] = df_clean['Q275'].apply(recode_education)

In [23]:
df_clean['Q275_4'] = df_clean['Q275'].apply(recode_education)

In [32]:
print(df_clean['Q275'].value_counts().sort_index())

Q275
0    15161
1    34711
2    14659
3    20777
Name: count, dtype: int64

In [34]:
df_clean

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,GDP_per_capita_2024,GDP_wvs_year,TradAgg,SurvSAgg,rd_idx_gpd,ict_idx_2024
0,2018,AND,Andorra,3,2,1270,1,2,3,1,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
1,2018,AND,Andorra,2,1,1270,3,3,2,2,...,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
2,2018,AND,Andorra,2,1,810,3,2,3,4,...,1.0,3.0,1.0,2.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
3,2018,AND,Andorra,3,2,1270,1,2,4,2,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
4,2018,AND,Andorra,2,1,1270,1,2,4,2,...,1.0,4.0,1.0,3.0,46359.0,42819.774580,0.5486,2.1823,NaN,88.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,Zimbabwe,2,2,3830,0,2,3,1,...,1.0,3.0,1.0,2.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95403,2020,ZWE,Zimbabwe,2,1,3200,3,2,2,1,...,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95404,2020,ZWE,Zimbabwe,1,2,3830,1,2,4,1,...,1.0,3.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95405,2020,ZWE,Zimbabwe,2,2,3830,1,1,4,1,...,1.0,2.0,1.0,3.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7
95406,2020,ZWE,Zimbabwe,2,1,3830,1,1,4,1,...,1.0,3.0,1.0,4.0,2073.0,1730.413489,-0.5850,-1.8709,0.21,47.7

In [43]:
df_clean.to_csv("/Users/rusya/Documents/synthetic_data/inf_for_logit_regression/all_data_right_format_linear_regr_272.csv")

In [35]:
df_clean.columns

Index(['A_YEAR', 'code', 'country', 'X003R2', 'Q260', 'Q272', 'Q275', 'Q288R',
       'Q287', 'Q273', 'Q274', 'Q289', 'Q158', 'Q159', 'Q160', 'Q161', 'Q162',
       'Q177', 'Q178', 'Q179', 'Q180', 'Q181', 'Q182', 'Q183', 'Q184', 'Q185',
       'Q186', 'Q187', 'Q188', 'Q189', 'Q190', 'Q191', 'Q192', 'Q193', 'Q194',
       'Q195', 'Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex',
       'Q162_yandex', 'Q183_yandex', 'Q184_yandex', 'Q185_yandex',
       'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex',
       'Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex',
       'Q194_yandex', 'Q195_yandex', 'GDP_per_capita_2024', 'GDP_wvs_year',
       'TradAgg', 'SurvSAgg', 'rd_idx_gpd', 'ict_idx_2024'],
      dtype='object')

In [36]:
df_fsi = pd.read_csv('/Users/rusya/Documents/synthetic_data/inf_for_logit_regression/FSI_language_difficulty_eng - Лист1.csv')

In [37]:
df_fsi.rename(columns={'code': "Q272"}, inplace=True)
df_fsi

,Q272,language,closely related,similar to eng,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult
0,30,30 Afar,0,0,1,0,0
1,40,40 Afrikaans,1,0,0,0,0
2,100,100 Albanian,0,0,0,1,0
3,140,140 Amharic,0,0,0,1,0
4,170,170 Arabic,0,0,0,0,1
...,...,...,...,...,...,...,...
159,4620,4620 Yoruba,0,0,1,0,0
160,9000,9000 Other,0,0,0,0,0
161,9040,9040 Other European,0,1,0,0,0
162,9060,9060 Other Chinese dialects,0,0,0,0,1
163,9900,"9900 Other local; aboriginal; tribal, community",0,0,0,0,1

In [38]:
# Создадим новую колонку, которая = 1, если хоть одна из двух == 1
df_fsi['related_or_similar_to_eng'] = (
    df_fsi[['closely related', 'similar to eng']]
    .any(axis=1)               # True, если хотя бы в одной колонке True
    .astype(int)               # переведём булевы в 0/1
)

df_fsi = df_fsi.drop(columns=['closely related', 'similar to eng'])

df_fsi

,Q272,language,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult,related_or_similar_to_eng
0,30,30 Afar,1,0,0,0
1,40,40 Afrikaans,0,0,0,1
2,100,100 Albanian,0,1,0,0
3,140,140 Amharic,0,1,0,0
4,170,170 Arabic,0,0,1,0
...,...,...,...,...,...,...
159,4620,4620 Yoruba,1,0,0,0
160,9000,9000 Other,0,0,0,0
161,9040,9040 Other European,0,0,0,1
162,9060,9060 Other Chinese dialects,0,0,1,0
163,9900,"9900 Other local; aboriginal; tribal, community",0,0,1,0

In [39]:
df_fsi['fsi'] = df_fsi[['related_or_similar_to_eng', 'ling and/or cult differ', 'cignificant ling and/or cult differ', 'exceptionally difficult']].values.argmax(axis=1) + 1

In [40]:
print(*df_fsi['fsi'].unique())

2 1 3 4

In [43]:
df_fin = df_clean.merge(
    df_fsi[[
        'language',
        'Q272',
        'related_or_similar_to_eng',
        'ling and/or cult differ',
        'cignificant ling and/or cult differ',
        'exceptionally difficult',
        'fsi'
    ]],
    on='Q272',
    how='left'
)

In [44]:
df_fin

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,TradAgg,SurvSAgg,rd_idx_gpd,ict_idx_2024,language,related_or_similar_to_eng,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult,fsi
0,2018,AND,Andorra,3,2,1270,1,2,3,1,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
1,2018,AND,Andorra,2,1,1270,3,3,2,2,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
2,2018,AND,Andorra,2,1,810,3,2,3,4,...,0.5486,2.1823,NaN,88.8,810 Catalan; Valencian,1.0,0.0,0.0,0.0,1.0
3,2018,AND,Andorra,3,2,1270,1,2,4,2,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
4,2018,AND,Andorra,2,1,1270,1,2,4,2,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85303,2020,ZWE,Zimbabwe,2,2,3830,0,2,3,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0
85304,2020,ZWE,Zimbabwe,2,1,3200,3,2,2,1,...,-0.5850,-1.8709,0.21,47.7,3200 North Ndebele,0.0,1.0,0.0,0.0,2.0
85305,2020,ZWE,Zimbabwe,1,2,3830,1,2,4,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0
85306,2020,ZWE,Zimbabwe,2,2,3830,1,1,4,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0
85307,2020,ZWE,Zimbabwe,2,1,3830,1,1,4,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0

In [45]:
df_fin.loc[df_fin['fsi'].isna(), 'Q272'].unique()

array([  -2, 3900,   -1,   -5,   -4, 2190])

In [46]:
# Список нежелательных кодов
bad_codes = [-2, 3900, -1, -5, -4, 2190]

# Отфильтровать датафрейм, оставив только строки, где Q272 не в bad_codes
df_fin = df_fin[~df_fin['Q272'].isin(bad_codes)]

df_fin

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,TradAgg,SurvSAgg,rd_idx_gpd,ict_idx_2024,language,related_or_similar_to_eng,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult,fsi
0,2018,AND,Andorra,3,2,1270,1,2,3,1,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
1,2018,AND,Andorra,2,1,1270,3,3,2,2,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
2,2018,AND,Andorra,2,1,810,3,2,3,4,...,0.5486,2.1823,NaN,88.8,810 Catalan; Valencian,1.0,0.0,0.0,0.0,1.0
3,2018,AND,Andorra,3,2,1270,1,2,4,2,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
4,2018,AND,Andorra,2,1,1270,1,2,4,2,...,0.5486,2.1823,NaN,88.8,1270 Spanish; Castilian,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85303,2020,ZWE,Zimbabwe,2,2,3830,0,2,3,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0
85304,2020,ZWE,Zimbabwe,2,1,3200,3,2,2,1,...,-0.5850,-1.8709,0.21,47.7,3200 North Ndebele,0.0,1.0,0.0,0.0,2.0
85305,2020,ZWE,Zimbabwe,1,2,3830,1,2,4,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0
85306,2020,ZWE,Zimbabwe,2,2,3830,1,1,4,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0
85307,2020,ZWE,Zimbabwe,2,1,3830,1,1,4,1,...,-0.5850,-1.8709,0.21,47.7,3830 Shona;chiShona,0.0,1.0,0.0,0.0,2.0

In [47]:
questions = [
    'Q158', 'Q159', 'Q160', 'Q161', 'Q162', 'Q183', 
    'Q184', 'Q185', 'Q186', 'Q187', 'Q188', 'Q189',
    'Q190', 'Q191', 'Q192', 'Q193', 'Q194', 'Q195'
]

# Для каждой QXXX создаём колонку QXXX_y_gpt, где 1 = совпадают, 0 = нет
for q in questions:
    gpt_col = f"{q}_yandex"         
    new_col = f"{q}_y_yandex"    
    df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)

df_fin

/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)
/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33810/3207899169.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin[new_col] = (df_fin[q] == df_fin[gpt_col]).astype(int)

,A_YEAR,code,country,X003R2,Q260,Q272,Q275,Q288R,Q287,Q273,...,Q186_y_yandex,Q187_y_yandex,Q188_y_yandex,Q189_y_yandex,Q190_y_yandex,Q191_y_yandex,Q192_y_yandex,Q193_y_yandex,Q194_y_yandex,Q195_y_yandex
0,2018,AND,Andorra,3,2,1270,1,2,3,1,...,1,1,0,1,1,1,1,0,1,0
1,2018,AND,Andorra,2,1,1270,3,3,2,2,...,0,1,0,1,1,1,1,0,1,0
2,2018,AND,Andorra,2,1,810,3,2,3,4,...,1,0,0,1,1,0,1,0,1,1
3,2018,AND,Andorra,3,2,1270,1,2,4,2,...,0,0,0,1,1,1,1,0,1,0
4,2018,AND,Andorra,2,1,1270,1,2,4,2,...,0,1,0,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85303,2020,ZWE,Zimbabwe,2,2,3830,0,2,3,1,...,0,1,0,1,1,1,1,0,1,0
85304,2020,ZWE,Zimbabwe,2,1,3200,3,2,2,1,...,0,1,0,1,0,1,1,0,1,0
85305,2020,ZWE,Zimbabwe,1,2,3830,1,2,4,1,...,0,1,1,1,1,1,1,0,1,0
85306,2020,ZWE,Zimbabwe,2,2,3830,1,1,4,1,...,0,1,1,1,1,1,1,0,1,0
85307,2020,ZWE,Zimbabwe,2,1,3830,1,1,4,1,...,0,1,0,1,1,1,1,0,1,0

In [48]:
df_fin.columns

Index(['A_YEAR', 'code', 'country', 'X003R2', 'Q260', 'Q272', 'Q275', 'Q288R',
       'Q287', 'Q273', 'Q274', 'Q289', 'Q158', 'Q159', 'Q160', 'Q161', 'Q162',
       'Q177', 'Q178', 'Q179', 'Q180', 'Q181', 'Q182', 'Q183', 'Q184', 'Q185',
       'Q186', 'Q187', 'Q188', 'Q189', 'Q190', 'Q191', 'Q192', 'Q193', 'Q194',
       'Q195', 'Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex',
       'Q162_yandex', 'Q183_yandex', 'Q184_yandex', 'Q185_yandex',
       'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex',
       'Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex',
       'Q194_yandex', 'Q195_yandex', 'GDP_per_capita_2024', 'GDP_wvs_year',
       'TradAgg', 'SurvSAgg', 'rd_idx_gpd', 'ict_idx_2024', 'language',
       'related_or_similar_to_eng', 'ling and/or cult differ',
       'cignificant ling and/or cult differ', 'exceptionally difficult', 'fsi',
       'Q158_y_yandex', 'Q159_y_yandex', 'Q160_y_yandex', 'Q161_y_yandex',
       'Q162_y_yandex', 'Q183_y_yandex', 'Q184_y_yandex', 'Q185_y_yandex',
       'Q186_y_yandex', 'Q187_y_yandex', 'Q188_y_yandex', 'Q189_y_yandex',
       'Q190_y_yandex', 'Q191_y_yandex', 'Q192_y_yandex', 'Q193_y_yandex',
       'Q194_y_yandex', 'Q195_y_yandex'],
      dtype='object')

In [50]:
df_fin.to_csv('/Users/rusya/Documents/synthetic_data/dataframe_for_analysis/YANDEX_logit_reg_with_demo_and_gpd_fsi.csv')

## Построим линейную регрессию

In [45]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [46]:
df_clean[['GDP_wvs_year', 'TradAgg', 'SurvSAgg', 'rd_idx_gpd', 'ict_idx_2024']].corr()

              GDP_wvs_year   TradAgg  SurvSAgg  rd_idx_gpd  ict_idx_2024
GDP_wvs_year      1.000000  0.615605  0.756788    0.659007      0.566155
TradAgg           0.615605  1.000000  0.574217    0.724083      0.557917
SurvSAgg          0.756788  0.574217  1.000000    0.489146      0.374066
rd_idx_gpd        0.659007  0.724083  0.489146    1.000000      0.533444
ict_idx_2024      0.566155  0.557917  0.374066    0.533444      1.000000

In [48]:
import statsmodels.api as sm

y = df_clean['Q177_gpt']
X = df_clean[['X003R2', 'Q260', 'Q275', 'Q288R', 'Q287', 'Q273', 'Q274', 'Q289']]

X_clean = sm.add_constant(X)
model = sm.OLS(y, X_clean).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Q177_gpt   R-squared:                       0.059
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     673.0
Date:                Mon, 09 Jun 2025   Prob (F-statistic):               0.00
Time:                        12:56:56   Log-Likelihood:                -54513.
No. Observations:               85308   AIC:                         1.090e+05
Df Residuals:                   85299   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.5107      0.014    109.422      0.000       1.484       1.538
X003R2        -0.0413      0.002    -17.549      0.000      -0.046      -0.037
Q260          -0.0684      0.003    -21.674      0.000      -0.075      -0.062
Q275          -0.0081      0.001     -9.479      0.000      -0.010      -0.006
Q288R         -0.0176      0.003     -5.679      0.000      -0.024      -0.012
Q287           0.0002      0.002      0.086      0.931      -0.003       0.004
Q273           0.0247      0.001     27.495      0.000       0.023       0.026
Q274           0.0019      0.002      1.095      0.273      -0.002       0.005
Q289          -0.0331      0.001    -52.761      0.000      -0.034      -0.032
==============================================================================
Omnibus:                    27029.741   Durbin-Watson:                   1.837
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            69353.920
Skew:                           1.762   Prob(JB):                         0.00
Kurtosis:                       5.662   Cond. No.                         65.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [49]:
import statsmodels.formula.api as smf

# y = df_clean['Q177_gpt']
# X = df_clean[['X003R2', 'Q260', 'Q275', 'Q288R', 'Q287', 'Q273', 'Q274', 'Q289']]

# X_clean = sm.add_constant(X)
fe_model = smf.ols(formula='Q177 ~ C(X003R2) + C(Q260) + C(Q275) + C(Q288R) + C(Q287) + C(Q273) + C(Q274) + C(Q289) + C(country)',
                   data = df_clean).fit(
    cov_type='cluster',
    cov_kwds={'groups': df_clean['country']}
)

print(fe_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Q177   R-squared:                       0.122
Model:                            OLS   Adj. R-squared:                  0.121
Method:                 Least Squares   F-statistic:                     683.2
Date:                Mon, 09 Jun 2025   Prob (F-statistic):           2.19e-68
Time:                        13:03:47   Log-Likelihood:            -2.0102e+05
No. Observations:               85308   AIC:                         4.022e+05
Df Residuals:                   85211   BIC:                         4.031e+05
Df Model:                          96
Covariance Type:              cluster
====================================================================================================
                                       coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            2.8925      0.182     15.865      0.000       2.535       3.250
C(X003R2)[T.2]                      -0.1219      0.042     -2.937      0.003      -0.203      -0.041
C(X003R2)[T.3]                      -0.3827      0.080     -4.755      0.000      -0.540      -0.225
C(Q260)[T.2]                        -0.1189      0.036     -3.267      0.001      -0.190      -0.048
C(Q275)[T.1]                        -0.0600      0.065     -0.920      0.357      -0.188       0.068
C(Q275)[T.2]                        -0.0998      0.095     -1.049      0.294      -0.286       0.087
C(Q275)[T.3]                        -0.2352      0.103     -2.288      0.022      -0.437      -0.034
C(Q275)[T.4]                        -0.2503      0.116     -2.164      0.030      -0.477      -0.024
C(Q275)[T.5]                        -0.3190      0.110     -2.909      0.004      -0.534      -0.104
C(Q275)[T.6]                        -0.3250      0.101     -3.222      0.001      -0.523      -0.127
C(Q275)[T.7]                        -0.3959      0.105     -3.786      0.000      -0.601      -0.191
C(Q275)[T.8]                        -0.4834      0.154     -3.140      0.002      -0.785      -0.182
C(Q288R)[T.2]                        0.0061      0.042      0.145      0.885      -0.077       0.089
C(Q288R)[T.3]                        0.2431      0.092      2.655      0.008       0.064       0.423
C(Q287)[T.2]                        -0.3558      0.127     -2.812      0.005      -0.604      -0.108
C(Q287)[T.3]                        -0.3653      0.122     -3.001      0.003      -0.604      -0.127
C(Q287)[T.4]                        -0.3755      0.121     -3.094      0.002      -0.613      -0.138
C(Q287)[T.5]                        -0.2762      0.125     -2.204      0.028      -0.522      -0.031
C(Q273)[T.2]                         0.1179      0.056      2.113      0.035       0.009       0.227
C(Q273)[T.3]                        -0.0102      0.039     -0.259      0.796      -0.088       0.067
C(Q273)[T.4]                         0.1635      0.083      1.970      0.049       0.001       0.326
C(Q273)[T.5]                        -0.0628      0.051     -1.239      0.215      -0.162       0.037
C(Q273)[T.6]                         0.1075      0.057      1.876      0.061      -0.005       0.220
C(Q274)[T.1]                        -0.0368      0.065     -0.566      0.571      -0.164       0.091
C(Q274)[T.2]                        -0.0570      0.060     -0.943      0.346      -0.175       0.061
C(Q274)[T.3]                        -0.0489      0.067     -0.733      0.463      -0.180       0.082
C(Q289)[T.1]                        -0.0919      0.062     -1.490      0.136      -0.213       0.029
C(Q289)[T.2]                        -0.1073      0.058     -1.846      0.065      -0.221       0.007
C(Q289)[T.3]                         0.0603      0.134      0.449      0.654      -0.203       0.324
C(Q289)[T.4]                         0.0300      0.153      0.196      0.845      -0.270       0.330
C(Q289)[T.5]                         0.2696      0.127      2.128      0.033       0.021       0.518
C(Q289)[T.6]                         0.1404      0.148      0.950      0.342      -0.149       0.430
C(Q289)[T.7]                         0.1605      0.060      2.674      0.007       0.043       0.278
C(Q289)[T.8]                        -0.1346      0.075     -1.784      0.074      -0.282       0.013
C(Q289)[T.9]                         0.0766      0.093      0.824      0.410      -0.106       0.259
C(country)[T.Argentina]              2.3688      0.024     98.491      0.000       2.322       2.416
C(country)[T.Armenia]               -0.1665      0.109     -1.532      0.126      -0.380       0.047
C(country)[T.Bangladash]            -0.4837      0.132     -3.660      0.000      -0.743      -0.225
C(country)[T.Bolivia]                2.7308      0.030     91.150      0.000       2.672       2.789
C(country)[T.Brazil]                 0.2766      0.029      9.672      0.000       0.221       0.333
C(country)[T.Canada]                 0.3197      0.031     10.454      0.000       0.260       0.380
C(country)[T.Chile]                  2.3488      0.016    150.524      0.000       2.318       2.379
C(country)[T.China]                  1.1708      0.041     28.888      0.000       1.091       1.250
C(country)[T.Colombia]               1.6157      0.030     53.888      0.000       1.557       1.674
C(country)[T.Cyprus]                -0.1395      0.096     -1.455      0.146      -0.327       0.048
C(country)[T.Czechia]                1.2057      0.028     42.831      0.000       1.151       1.261
C(country)[T.Ecuador]                2.2714      0.025     92.565      0.000       2.223       2.319
C(country)[T.Egypt]                 -0.7442      0.127     -5.866      0.000      -0.993      -0.496
C(country)[T.Ethiopia]              -0.7881      0.097     -8.124      0.000      -0.978      -0.598
C(country)[T.Germany]               -0.4121      0.029    -14.138      0.000      -0.469      -0.355
C(country)[T.Greece]                -0.5254      0.108     -4.869      0.000      -0.737      -0.314
C(country)[T.Guatemala]              1.9025      0.039     49.330      0.000       1.827       1.978
C(country)[T.Hong Kong]              1.0417      0.039     26.767      0.000       0.965       1.118
C(country)[T.India]                  0.3760      0.136      2.774      0.006       0.110       0.642
C(country)[T.Indonesia]              0.8532      0.113      7.556      0.000       0.632       1.075
C(country)[T.Iran]                   1.1115      0.122      9.099      0.000       0.872       1.351
C(country)[T.Iraq]                   1.1001      0.133      8.296      0.000       0.840       1.360
C(country)[T.Japan]                 -0.3736      0.050     -7.464      0.000      -0.472      -0.275
C(country)[T.Jordan]                 0.5558      0.125      4.444      0.000       0.311       0.801
C(country)[T.Kazakhstan]             1.0039      0.103      9.714      0.000       0.801       1.206
C(country)[T.Kenya]                  0.9346      0.046     20.294      0.000       0.844       1.025
C(country)[T.Kyrgyzstan]             0.4855      0.118      4.121      0.000       0.255       0.716
C(country)[T.Lebanon]                0.9955      0.084     11.871      0.000       0.831       1.160
C(country)[T.Libya]                  0.1988      0.132      1.507      0.132      -0.060       0.457
C(country)[T.Macao]                  0.4372      0.034     12.736      0.000       0.370       0.505
C(country)[T.Malaysia]               2.0533      0.088     23.351      0.000       1.881       2.226
C(country)[T.Maldives]              -0.6607      0.132     -5.017      0.000      -0.919      -0.403
C(country)[T.Mexico]                 2.5648      0.031     81.711      0.000       2.503       2.626
C(country)[T.Mongolia]               1.6590      0.035     46.786      0.000       1.589       1.728
C(country)[T.Morocco]                1.1908      0.129      9.266      0.000       0.939       1.443
C(country)[T.Myanmar]                1.3337      0.068     19.643      0.000       1.201       1.467
C(country)[T.Netherlands]           -0.5741      0.037    -15.561      0.000      -0.646      -0.502
C(country)[T.New Zealand]           -0.0752      0.047     -1.599      0.110      -0.168       0.017
C(country)[T.Nicaragua]              1.8377      0.046     40.385      0.000       1.749       1.927
C(country)[T.Nigeria]               -0.3774      0.077     -4.903      0.000      -0.528      -0.227
C(country)[T.Pakistan]               0.0728      0.134      0.544      0.586      -0.190       0.335
C(country)[T.Peru]                   1.2824      0.025     50.408      0.000       1.233       1.332
C(country)[T.Philippines]            3.1596      0.038     82.644      0.000       3.085       3.235
C(country)[T.Puerto Rico]            0.4596      0.021     21.500      0.000       0.418       0.501
C(country)[T.Romania]               -0.1704      0.105     -1.630      0.103      -0.375       0.035
C(country)[T.Russian Federation]     1.5944      0.076     21.040      0.000       1.446       1.743
C(country)[T.Serbia]                 1.4419      0.114     12.621      0.000       1.218       1.666
C(country)[T.Singapore]              0.4411      0.042     10.563      0.000       0.359       0.523
C(country)[T.Slovakia]               1.6672      0.018     95.159      0.000       1.633       1.701
C(country)[T.South Korea]            1.2302      0.037     33.295      0.000       1.158       1.303
C(country)[T.Taiwan]                 0.9515      0.061     15.485      0.000       0.831       1.072
C(country)[T.Tajikistan]             0.7596      0.128      5.927      0.000       0.508       1.011
C(country)[T.Thailand]              -0.1497      0.070     -2.152      0.031      -0.286      -0.013
C(country)[T.Tunisia]                0.3510      0.128      2.748      0.006       0.101       0.601
C(country)[T.Turkey]                -0.5958      0.130     -4.586      0.000      -0.850      -0.341
C(country)[T.Ukraine]                1.1268      0.097     11.620      0.000       0.937       1.317
C(country)[T.United States]          0.5118      0.027     18.683      0.000       0.458       0.566
C(country)[T.Uruguay]                0.5100      0.032     15.912      0.000       0.447       0.573
C(country)[T.Uzbekistan]             0.7327      0.054     13.488      0.000       0.626       0.839
C(country)[T.Venezuela]              2.0352      0.034     60.284      0.000       1.969       2.101
C(country)[T.Vietnam]                2.3742      0.038     62.876      0.000       2.300       2.448
C(country)[T.Zimbabwe]               0.0407      0.043      0.942      0.346      -0.044       0.125
==============================================================================
Omnibus:                    12304.158   Durbin-Watson:                   1.733
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            18433.751
Skew:                           1.069   Prob(JB):                         0.00
Kurtosis:                       3.785   Cond. No.                         138.
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/base/model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 96, but rank is 34
  warnings.warn('covariance of constraints does not have full '

In [ ]:
    df_fin["X003R2"].isin([1, 2, 3]) &                   # AGE: 1..3
    df_fin["Q260"].isin([1, 2]) &                     # GENDER: 1 или 2
    df_fin["Q275"].isin(range(0, 9)) &                # EDUCATION: 0..8
    df_fin["Q288R"].isin([1, 2, 3]) &                 # INCOME: 1..3
    df_fin["Q287"].isin([1, 2, 3, 4, 5]) &            # SOCIAL CLASS: 1..5
    df_fin["Q273"].isin([1, 2, 3, 4, 5, 6]) &         # MARITAL STATUS: 1..6
    df_fin["Q274"].isin(range(0, 4)) &                # HOW MANY CHILDREN: 0..3
    df_fin["Q289"].isin(range(0, 10))                 # RELIGIOUS: 0..9